body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem; 
}
h1, h2, h3, h4, h5, h6{
    color: #222;
    text-align: center;
    font-family: 'inter',sans-serif;
    font-weight: 600;
}
/* small screens */
@media screen and (max-width: 578px){
    body{
        font-size:14px
    }
    #logo-with-text{
        display:none;
    }
    #logo{
        display:block;
    }
    #banner{
        width: 100%;
        object-fit: cover;
        height:120px;
       
    }
    #navbar{
        padding:2px;
    }

}

/* small screen and tablets */
@media screen and (min-width: 576px){
    body{
        font-size:16px
    }
    #banner{
        width: 100%;
        object-fit: cover;
        height:120px;
    }
    #logo-with-text{
        display:none;
    }
    #logo{
        display:block;
    }
    #navbar{
        padding: 2px;
    }
}
/* Laptops */
@media screen and (min-width: 758px){
    #banner{
        width: 100%;
        object-fit: cover;
        height:200px;
    }
    #logo-with-text{
        display:none;
    }
    #logo{
        display:block;
    }
    #navbar{
        padding: 8px;
    }
}
/* large screens*/
@media screen and (min-width: 992px){

}
/* large screens*/
@media screen and (min-width: 1200px){

}
/*
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
   
}
h1, h2, h3, h4, h5, h6{
    color: #222;
    text-align: center;
    font-family: 'inter',sans-serif;
    font-weight: 600;
}

h1{font-size: 2.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}


#navbar{
    margin-top: 0;
    padding: 2px;
}
#banner{
    width: 100%;
    object-fit: cover;
    margin-top: 0;
}
.location{
    color: gray;
    margin-bottom: 16px;
}
#about{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-right: 8px;
}
#decription{
    width: 50%;
    padding:0 9px;
    font-size: 1.25rem;
}
#team{
    width: 50%;
  
}
#image-team{
    width: 100%;
    border-radius: 6px;
}
h2{
    text-align: center;
}
#application{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;

}
#application-form input, select, textarea{
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.25rem;
    margin-top: 4px;
}

#application-form label{
    font-weight: 600;
}

.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
}

.form-group input[type="submit"]{
   background-color: #3B82F6;
   color: #fff;
   cursor: pointer;
}
.form-group{
    margin-top: 16px;
}

.form-group textarea{
    width: 80%;
    font-family: 'Roboto';
}

h3{
    margin-bottom: 0;
    margin-top: 0;
}

#jobs{
    max-width: 800px;
    margin: 0 auto ;
    padding: 0 8px;
}
#jobs-table{
    width: 100%; 
       border: 1px solid gray;
       border-collapse: collapse;

}
.jobs-header-row th {
  border: 1px solid gray;
  text-align: center;
  background-color: #BFDBFE;
  padding: 8px;
  color:#222;
}
.jobs-data-row td{
    border: 1px solid gray;
    padding: 8px;

}
#jobs-table tr:nth-child(odd){
    background-color: #EFF6FF;
}
a{
    text-decoration: none;
    color: #3B82F6;
}
a:hover{
    color: #1D4ED8;
}


h3{
    margin-bottom: 4px;
    margin-top: 0;
}
.apply{
    float: right;
}

#footer{
    background-color: #F3F4F6;
    padding: 16px;
    text-align: center;
}
#footer-link{
    list-style: none;
}
#footer-link li{
    display: inline;
    margin: 0 26px;
}
.copy{
    color: #71717A;
    font-size: 0.875rem;
}
#discription ul{
    list-style-type: none;
}

/*

